<footer class="footer">
  <div class="container">
    <div class="footer__wrap">

      <div class="footer__head">
        <div class="footer__logo">
          <div class="logo">
            <a  href="#">
              <img src="./img/logo.svg" alt="logo">
            </a>
          </div>
        <p class="footer__logo-text">
          Ортодонтическая клиника EUROKAPPA
Выравниваем зубы незаметными,
прозрачными элайнерами
        </p>
        </div>
        <ul class="footer__list">
          <li class="footer__li option-pad">
            <a href="service.html">
              Услуги
            </a>
          </li>
          <li class="footer__li option-pad">
            <a href="company.html">
              Клиника
            </a>
          </li>
          <li class="footer__li option-pad">
            <a href="doctors.html">
              Врачи
            </a>
          </li>
          <li class="footer__li">
            <a href="price.html">

              Прайс-лист
            </a>
          </li>
          <li class="footer__li">
            <a href="result.html">
              Результаты до и после
            </a>
          </li>
          <li class="footer__li">
            <a href="news.html">
              Новости и акции
            </a>
          </li>
          <li class="footer__li">
            <a href="#">
              Контакты
            </a>
          </li>
        </ul>
        <div class="footer__contact">
          <p class="adress">г. Москва, ул. Палиха, 10, стр. 9
          </p>
          <a class="phone" href="tel:+7 (495) 477-58-09">+7 (495) 477-58-09</a>
          <div class="mail">
            <a  href="mailto:info@eurokappa.ru">info@eurokappa.ru</a>
          </div>
          <a class="button" href="#">записаться на прием</a>
          <div class="payment__license license-mob" >
            Лицензия № ЛО-77-01-012445 от 07.06.2016
© 2015–2022 EUROKAPPA Копирование материалов
данного сайта запрещено и преследуется по закону.
          </div>
        </div>
      </div>

      <div class="footer__payment">
        <p class="payment__headtext">Принимаем к оплате</p>
        <div class="payment__wrap">
          <div class="payment__card">
            <p class="payment__card-text">Принимаем к оплате</p>
            <div class="payment__card-wrap">
              <img class="visa" src="./img/footer/Visa.png" alt="Visa">
              <img class="mastercard" src="./img/footer/Mastercard.png" alt="Mastercard">
              <img class="mir" src="./img/footer/Mir.png" alt="Mir">
            </div>
          </div>
          <div class="payment__company">
            <img class="european" src="./img/european.svg" alt="european">
            <img class="dental" src="./img/dental.svg" alt="dental">
            <img class="sogaz" src="./img/sogaz.svg" alt="sogaz">
            <img class="iso" src="./img/iso.svg" alt="iso">
          </div>
          <div class="payment__license license-dec" >
            Лицензия № ЛО-77-01-012445 от 07.06.2016
© 2015–2022 EUROKAPPA Копирование материалов
данного сайта запрещено и преследуется по закону.
          </div>
        </div>
      </div>

      <div class="ps">
        <p class="ps__data">© Eurokappa 2022</p>
        <p class="ps__inn">ООО «Сан Смайл»  /  ОГРН 1147746843837 <br>
          ИНН 7707839805</p>
          <div class="ps__politics">
            <a href="#" class="politics__text">Политика конфиденциальности</a>
            <object class="politics-logo" type="image/svg+xml"
            data="./img/footer/ps-logo.svg">
            <img src="./img/footer/ps-logo.svg" />
          </object>
          </div>
      </div>
    </div>
  </div>
</footer>
<div class="menu__popUp">
  <div class="popUp__scroll">
    <div class="menu__popUp-container">
      <div class="menu__popUp-wrap">

        <div class="popUp__nav-wrap">
          <div class="popUp__one-col">
            <h3 class="popUp__nav-headtext popUp__nav-headtext-trigger">
              услуги
            </h3>
            <ul class="popUp__nav-list popUp__nav-headtext-content">
              <li class="popUp__nav-li">
                <a href="#">Элайнеры
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="#">Брекеты

                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="#">Виниры и эстетическая
                  стоматология
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="#">Терапия
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="#">Хирургическая <br>
                  стоматология и ортопедия
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="#">Пародонтология
                </a>
              </li>

            </ul>
          </div>

          <div class="popUp__two-col">
            <h3 class="popUp__nav-headtext two__col">
              <a href="company.html"> Клиника</a>
            </h3>
            <ul class="popUp__nav-list two__col-list">
              <li class="popUp__nav-li">
                <a href="doctors.html">Врачи
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="news.html">Новости и акции
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="result.html">Результаты до и после
                </a>
              </li>
              <li class="popUp__nav-li">
                <a href="price.html">Прайс лист

                </a>
              </li>

              <li class="popUp__nav-li">
                <a href="contact.html">контакты
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="popUp__contact">
          <div class="popUp__contact-wrap">
            <div class="popUp__contact-wrapper">
              <div class="adress__wrap">
                <p class="popUp__adress">г. Москва, ул. Палиха, 10, стр. 9
                </p>
                <div class="popUp__phone">
                  <a href="tel:+7 (495) 477-58-09">+7 (495) 477-58-09</a>
                </div>
                <div class="popUp__mail">
                  <a  href="mailto:info@eurokappa.ru">info@eurokappa.ru</a>
                </div>
              </div>
              <a class="button pop_btn-mob" href="#">записаться на прием</a>
            </div>
            <a class="button pop_btn-dec" href="#">записаться на прием</a>
            <div class="payment__license-popUp" >
              Лицензия № ЛО-77-01-012445 от 07.06.2016
© 2015–2022 EUROKAPPA Копирование материалов
данного сайта запрещено и преследуется по закону.
            </div>
            <img src="./img/bg/burger_corcle.svg" class="popUp__contact-circle" >
          </div>
        </div>
      </div>


      <div class="popUp-ps">
        <p class="popUp__data">© Eurokappa 2022</p>
        <p class=" popUp__inn">ООО «Сан Смайл»  /  ОГРН 1147746843837 <br>
          ИНН 7707839805</p>
          <div class=" popUp__politicks">
            <a href="#" class="politics__text">Политика конфиденциальности</a>
            <object class="politics-logo" type="image/svg+xml"
            data="./img/footer/ps-logo.svg">
            <img src="./img/footer/ps-logo.svg" />
          </object>
          </div>
      </div>
    </div>
  </div>
  <img src="./img/bg/burger__circle-big.svg" class="burger__circle">
  <img src="./img/bg/burger__circle-rot.svg" class="burger__circle-rot">
</div>
