<header id="header_anim" class="header header-anim  _no-anim ">
  <div class="header__wrapper">
    <div class="header__burger">
      <a href="#" class="logo">
        <img src="./img/logo-header.svg" alt="logo" />
      </a>
    </div>
    <div class="header__navigation">
      <ul class="navigation__wrap">
        <li class="navigation-li">
          <a href="./service.html"> Услуги </a>
        </li>
        <li class="navigation-li">
          <a href="./company.html">Клиника </a>
        </li>
        <li class="navigation-li">
          <a href="./news.html"> Акции </a>
        </li>
        <li class="navigation-li">
          <a href="./result.html"> Результаты <br />до и после </a>
        </li>
        <li class="navigation-li">
          <a href="./contact.html"> Контакты </a>
        </li>
      </ul>
      <div class="header__contact">
        <div class="phone">
          <object class="header-svg" type="image/svg+xml" data="./img/phone-icon.svg">
            <img src="./img/phone-icon.svg" />
          </object>
          <a href="tel:+7 (495) 477-58-09">+7 (495) 477-58-09</a>
        </div>
        <div class="address">
          <object  class="header-svg" type="image/svg+xml" data="./img/metro-icon.svg">
            <img src="./img/metro-icon.svg" />
          </object>
          <p>Менделеевская</p>
        </div>
        <div class="phone-mob">
          <a href="tel:+7 (495) 477-58-09">
            <img src="./img/phone-icon-mob.svg" alt="phone" />
          </a>
        </div>
      </div>
    </div>
    <div class="header__payment">
      <a href="#"   onclick="showPayByClick()" class="payment"> Оплата онлайн </a>
      <a href="#">
      <div onclick="showByClick()" class="email">
          <img src="./img/email.svg" alt="email" />
      </div>
    </a>
    <div class="burger__menu">
        <span></span>
      </div>
    </div>
  </div>
</header>
