.head-page {
    background: url(../images/pages/bg-page.png) no-repeat;
    background-size: cover;
    padding: 20px 0px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    color: #fff;
    >*:not(:last-child) {
        margin-right: 35px;
    }
    li{
        font-size: 13px;
        font-weight: 500;
        position: relative;
        &::after {
            content: ' ';
            position: absolute;
            width: 10px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
            right: -23px;
        }
        a:hover {
            transition: all 0.3s ease 1ms;
            color: #FE7724;
            text-decoration: underline;
        }
    }
    li:last-child {
        &::after {
            display: none;
        }
    } 
    @media (max-width:480px) {
        display: none;
    }
}
.breadcrumbs li:first-child {
    padding-left: 22px;
    &::before {
        content: ' ';
        position: absolute;
        left: -4px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        background: url(../images/pages/Icon-home.svg) no-repeat;
    }
}
.page__hedtext {
    color: #fff;
    font-weight: 500;
    font-size: 72px;
    line-height: 100%;
    padding: 60px 0px 50px;
    @media (max-width:1920px) {
        padding: calc(15px + (40 - 15) * (100vw - 375px) / (1920 - 375)) 0px calc(15px + (30 - 15) * (100vw - 375px) / (1920 - 375));
    }
    @media (max-width:1280px)  {
        font-size: 62px;
    }
    @media (max-width:768px)  {
        font-size: 52px;
    }
    @media (max-width:480px)  {
        font-size: 24px;
    }
}
.services__single-page {
    padding-top: 0px;
}
.table__col-one {
    @media (max-width:480px) {
        margin-bottom: 20px;
    }
}
.table__col-two {
    @media (max-width:480px) {
        margin-bottom: 15px;
    }
}